[user]
    name = Stas Bidenko
    email = steve.bidenko@gmail.com
    signingkey = A20B666348CA90F53119CA6D86F4945FF633B1BD
[color]
    ui = true
[core]
    editor = vim
    whitespace = cr-at-eol
    pager = less -x1,5
[format]
    pretty = "%h %an %s"
[alias]
    st = status
    l = log --pretty
    brd = branch -d
    pop = !git fetch --prune --prune-tags && git pull origin
    fop = fetch origin -p
    mod = merge origin/dev
    mff = merge --ff-only
    chm = checkout master
    co = checkout
    cached = diff --cached
    spull = submodule update --init --recursive
    bupd = !git add src/app/common && git commit -m \"BIOB Updated submodule settings\"
    qupd = !git add src/app/common && git commit -m \"QI Updated submodule settings\"
    tupd = !git add package.json && git commit -m \"TR Updated project version in package.json\"
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[push]
    default = simple
[pull]
    ff = only
[commit]
    gpgsign = true
[gpg]
    program = gpg
