[user]
	name = Steve Bidenko
	email = steve.bidenko@gmail.com
[color]
	ui = true
[core]
	editor = vim
[format]
	pretty = "%h %s"
[alias]
	st = status
	l = log --pretty
	brd = branch -D
	pop = pull origin -p
	chm = checkout master
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
