[user]
    name = Stanislav Bidenko
    email = steve.bidenko@gmail.com
[color]
    ui = true
[core]
    editor = vim
    whitespace = cr-at-eol
[format]
    pretty = "%h %an %s"
[alias]
    st = status
    l = log --pretty
    brd = branch -d
    pop = pull origin -p
    fop = fetch origin -p
    mff = merge --ff-only
    chm = checkout master
    co = checkout
    cached = diff --cached
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[push]
    default = simple
